﻿@page
@model GenerateCaseNumber.Pages.CreateModel

@{
    ViewData["Title"] = "Create";
}



<h2>Create</h2>

<h4>CaseList</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            @*<div class="form-group">
                    <label asp-for="CaseList.CaseNumber" class="control-label"></label>
                    <input asp-for="CaseList.CaseNumber" class="form-control" />
                    <span asp-validation-for="CaseList.CaseNumber" class="text-danger"></span>
                </div>*@
            <h2>@ViewData["Message"]</h2>
            <div class="form-group">

                <label asp-for="CaseNumberList.CenNumber" class="control-label"></label>
                <input asp-for="CaseNumberList.CenNumber" class="form-control" />
                <span asp-validation-for="CaseNumberList.CenNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
