﻿@page
@model GenerateCaseNumber.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>CaseList</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.CaseList.CaseNumber)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.CaseList.CaseNumber)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.CaseList.CenNumber)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.CaseList.CenNumber)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.CaseList.Id">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
