﻿@page
@model GenerateCaseNumber.EditModel

@{
    ViewData["Title"] = "Edit";
}

<h2>Edit</h2>

<h4>CaseList</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="CaseList.Id" />
            <div class="form-group">
                <label asp-for="CaseList.CaseNumber" class="control-label"></label>
                <input asp-for="CaseList.CaseNumber" class="form-control" readonly ="@(true)"/>
                <span asp-validation-for="CaseList.CaseNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CaseList.CenNumber" class="control-label"></label>
                <input asp-for="CaseList.CenNumber" class="form-control" />
                <span asp-validation-for="CaseList.CenNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="./Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
